@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <a href="/Test/SupportCoin" target="_blank">SupportCoin</a><br />
        <a href="/Test/CreateCoinAddress" target="_blank">CreateCoinAddress</a><br />
        <a href="/Test/CheckAddress" target="_blank">CheckAddress</a><br />
        <a href="/Test/Transfer" target="_blank">Transfer</a><br />
    </div>
</body>
</html>
